@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=EB+Garamond:ital,wght@0,500;1,800&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
  .button{
    @apply  p-5 sm:p-3 sm:m-2 w-full sm:w-[80%] xl:w-full rounded-xl text-gray-200 sm:mx-5 flex space-x-2 cursor-pointer items-center  hover:scale-110 transition duration-200 ease-out sm:hover:bg-gray-100/30 sm:hover:text-black
  }

  .issueButton{
    @apply px-5 py-3 border rounded-xl outline-0 
  }

  .sidebarText{
    @apply hidden text-[10px] md:text-sm lg:flex 
  }

  .headingText{
    @apply text-2xl text-gray-500 uppercase tracking-[2px] font-bold font-mono
  }

  .footerButton{
    @apply flex items-center space-x-2 cursor-pointer hover:scale-105 duration-150 ease-in-out transition
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111;
}

body::-webkit-scrollbar{
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
